@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: futurama;
    src: url(../letras/fr-bold.ttf);
}
/* https://coolors.co/00b5cc-a6da2f-85e9f7-cff576-d0e995-#026874*/
/*@font-face {
    font-family: futuramaTitle;
    src: url(../letras/fr-title.ttf);
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#estado {
    position: absolute;
    width: 100%;
    background: #a6da2f;
    /* padding: 0.5rem; */
    display: flex;
    margin: auto;
    justify-content: center;
}
.divHome__h3 {
    font-family: futurama;
    text-align: center;
    font-size: 2rem;
    color: #d0e995;
}
#main {
   /* background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
}
#main > h2 {
    width: 100%;
    text-align: center;
    font-size: 0;
    background-image: url(../img/logo.png);
    background-size: 19rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 6rem;
    margin: 6rem 1rem 1rem 1rem;

}
.img {
    width: 100%;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #a6da2f;
}
.imgFavoritos {
    width: 50%;
    margin: 1rem auto;
    border-radius: 50%;
    border: 1px solid #a6da2f;
}
.navbar {
    background: #00b5cc;
    position: fixed;
    width: 100%;
    padding: 1rem;
}
.phil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0.5rem;
}

.personajesFavoritos{
    border: 1px solid #a6da2f;
    background-color: #026874bd;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}
.BuscarPersonajes{
    border: 1px solid #a6da2f;
    background-color: #026874bd;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}
.divSelectFavoritos {
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
}
.personajes {
    border: 1px solid #a6da2f;
    background-color: #026874bd;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
}
.philipVersion {
    border: 1px solid #a6da2f;
    background-color: #026874bd;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
}

/*-------------divSelect---------------*/
.divSelect {
    display: flex;
    margin: 0.5rem;
    flex-wrap: wrap;
}
.divSelect__h2 {
    color: #d0e995;
    padding: 0.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.divSelect .personaje__h3 {
    font-family: futurama;
    text-align: center;
    font-size: .9rem;
    color: #d0e995;
    display: flex;
    align-items: center;
    width: 100%;
}
.divSelect__h2 button {
    color: darkred;
}
.divSelec__h2 button:hover {
    color: #c96e6e;
}
.divSelec__divBotones{
    display: flex;
    align-items: center;
}
#philipVersion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.philip__h4 {
    font-family: futurama;
    font-size: 1rem;
    color: #d0e995;
}
/*.personajes__div {
    display: grid;
    !*grid-template-rows: 1fr 1fr;*!
}*/
/*.personaje__h3 {
    color: beige;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}*/
.personajes__div {
    width: 100%;
    padding: 0.5rem;
 }
/*.personajes__div ul {
    text-align: center;
    display: grid;

    margin-top: 2rem;
}*/

.personajes__divUl li {
    font-size: 1rem;
    text-align: start;
}
/*.personajes__div ul .liSpecie {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 900;
    background: cadetblue;
}*/
.personajes__divUl li {
    list-style: none;
    color: #d0e995;
    font-weight: 600;
    font-family: futurama;
    line-height: 2;
}
.personajes__divUl .uno {
    font-family: futurama;
    margin: 0.2rem;
    color: #a6da2f;
}

.btnPersonajes,
.btnEpisodios,
.btnHome {
   /* border: 1px solid #a6da2f;*/
    cursor: pointer;
}
.btnMeGusta,
.btnFavorito,
.btnVerMas,
.favorito,
.perri {
    cursor: pointer;
}

/*.divSelect .btnMeGusta:hover {
    font-size: 1.2rem;
}*/
.divPersonajes__h3 {
    text-align: center;
    margin: 1rem;
    color: #d0e995;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: futurama;
}
.divPersonajesFavoritos__h3 {
    text-align: center;
    margin: 1rem;
    color: #d0e995;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: futurama;
    width: 100%;
}
.personaje__h4 {
    width: 100%;
    font-family: futurama;
    font-weight: 500;
    color: #d0e995;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.personaje__h4 span{
    font-weight: 800;
    color: #d0e995;
}

.divBotones {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #00b5cc;
}
.divBotones p {
    padding: .5rem;
}
.form__input {
    width: 75%;
}
.form__form {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
}
.modalHombre {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modal {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
}
@media (min-width: 401px) and (max-width: 500px){
    .personajes {
        width: 90%;
    }
    .img {
        width: 75%;
    }

}
@media (min-width: 501px) and (max-width: 600px){
    .personajes {
        /*width: 50%;*/
        display: flex;
        flex-wrap: wrap;
        margin: .5rem;
    }
    .divPersonajesHome {
        width: 50%;
    }

    .personaje__h3 {
        justify-content: center;
    }
    .personaje__h4  {
       justify-content: center;
    }
    .divSelect {
        justify-content: center;
    }
    .img {
        width: 50%;
    }
    /*.philipVersion {
        width: 50%;
    }*/
    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }

}
@media (min-width: 601px) and (max-width: 700px){
    .personajes {
        /*width: 50%;*/
        display: flex;
        flex-wrap: wrap;
        margin: .5rem;
    }
    .divPersonajesHome {
        width: 50%;
    }

    .personaje__h3 {
        justify-content: center;
    }
    .personaje__h4  {
      justify-content: center;
    }
    .divSelect {
        justify-content: center;
    }
    .img {
        width: 50%;
    }
    .personajesFavoritos {
        width: 47%;
    }

    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}
@media (min-width: 701px) and (max-width: 800px){
    .personajes {
        /*width: 50%;*/
        display: flex;
        flex-wrap: wrap;
        margin: .5rem;
    }
    .divPersonajesHome {
        width: 30%;
    }

    .personaje__h3 {
        justify-content: center;
    }
    .personaje__h4  {
       justify-content: center;
    }
    .divSelect {
        justify-content: center;
    }
    .img {
        width: 50%;
    }
    .personajesFavoritos {
        width: 47%;
    }
    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}
@media (min-width: 801px) and (max-width: 900px){
    .personajes {
        /*width: 50%;*/
        display: flex;
        flex-wrap: wrap;
        margin: .5rem;
    }
    .divPersonajesHome {
        width: 30%;
    }

    .personaje__h3 {
        justify-content: center;
    }
    .personaje__h4  {
        justify-content: center;
    }
    .divSelect {
        justify-content: center;
    }
    .img {
        width: 50%;
    }
    .personajesFavoritos {
        width: 45%;
    }
    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}
@media (min-width: 901px) and (max-width: 1000px){
    .personajes {
        /*width: 50%;*/
        display: flex;
        flex-wrap: wrap;
        margin: .5rem;
    }
    .divPersonajesHome {
        width: 30%;
    }

    .personaje__h3 {
        justify-content: center;
    }
    .personaje__h4  {
        justify-content: center;
    }
    .divSelect {
        justify-content: center;
    }
    .img {
        width: 50%;
    }
    .personajesFavoritos {
        width: 30%;
    }
    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}
@media (min-width: 1001px) {
    .personajes {
        /*width: 50%;*/
        display: flex;
        flex-wrap: wrap;
        margin: .5rem;
    }
    .divPersonajesHome {
        width: 25%;
    }
    .divHome {
        width: 90%;
        margin: auto;
    }
    .personaje__h3 {
        justify-content: center;
    }
    .personaje__h4  {
        justify-content: center;
    }
    .divSelect {
        justify-content: center;
    }
    .img {
        width: 50%;
    }
    .personajesFavoritos {
        width: 30%;
    }
    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}