@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: futurama;
    src: url(../letras/fr-bold.ttf);
}
/*@font-face {
    font-family: futuramaTitle;
    src: url(../letras/fr-title.ttf);
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#divHome h3 {
    font-family: futurama;
    text-align: center;
    font-size: 2rem;
}
#main {
   /* background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
}
#main > h2 {
    width: 100%;
    text-align: center;
    font-size: 0;
    background-image: url(../img/logo.png);
    background-size: 19rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 6rem;
    margin: 1rem;

}
.img {
    width: 75%;
    margin: auto;
}
.navbar {
    background: yellow;
}
.phil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.personajes {
    margin: 0.5rem;
    background: aliceblue;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personajes__div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.personajes__div ul li {
    list-style: none;
    font-size: .8rem;
}
.personajes__div ul .uno {
    font-family: futurama;
}
.btnPersonajes,
.btnEpisodios,
.btnHome {
    border: 1px solid grey;
    cursor: pointer;
}
.btnMeGusta,
.btnFavorito,
.favorito,
.perri {
    cursor: pointer;
}
.divSelect {

}
.divBotones {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #c5c52c;
}
.divBotones p {
    padding: .5rem;
}
.form__input {
    width: 75%;
}
.form__form {
    display: flex;
    justify-content: center;
}
.modalHombre {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modal {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
}
@media (min-width: 400px) and (max-width: 500px){
    .personajes {
        width: 100%;
    }

}