@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: futurama;
    src: url(../letras/fr-bold.ttf);
}
/*@font-face {
    font-family: futuramaTitle;
    src: url(../letras/fr-title.ttf);
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#estado {
    position: absolute;
    width: 100%;
    /* padding: 0.5rem; */
    display: flex;
    margin: auto;
    justify-content: center;
}
#divHome h3 {
    font-family: futurama;
    text-align: center;
    font-size: 2rem;
}
#main {
   /* background-color: yellow;*/
    display: flex;
    flex-wrap: wrap;
}
#main > h2 {
    width: 100%;
    text-align: center;
    font-size: 0;
    background-image: url(../img/logo.png);
    background-size: 19rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 6rem;
    margin: 5rem 1rem 1rem 1rem;

}
.img {
    width: 40%;
    margin: auto;
    border-radius: 50%;
}
.navbar {
    background: #00b5cc;
    position: fixed;
    width: 100%;
}
.phil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0.5rem;
}
.personajes {
    margin: 0.5rem;
    border: 1px solid #a6da2f;
    background-color: #00b5cc75;
    border-radius: 10px;
}
.personajes__div {
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
}
.personaje__h3 {
    color: beige;
    text-align: center;
    font-size: 1.5rem;
}
.personajes__div ul {
    text-align: center;

}
.personajes__div ul .liSpecie {
    margin-top: 2rem;
    font-size: 1.5rem;
    background: cadetblue;
}
.personajes__div ul li {
    list-style: none;
    color: beige;

}
.personajes__div ul .uno {
    font-family: futurama;
}

.btnPersonajes,
.btnEpisodios,
.btnHome {
    border: 1px solid grey;
    cursor: pointer;
}
.btnMeGusta,
.btnFavorito,
.favorito,
.perri {
    cursor: pointer;
}
.divSelect {
    display: flex;
    justify-content: end;
    margin: .5rem;
}
/*.divSelect .btnMeGusta:hover {
    font-size: 1.2rem;
}*/



.divBotones {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #00b5cc;
}
.divBotones p {
    padding: .5rem;
}
.form__input {
    width: 75%;
}
.form__form {
    display: flex;
    justify-content: center;
}
.modalHombre {
    position: fixed;
    z-index: 1032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);

}
#modal {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #1A4A5E;
    text-decoration: none;
    margin: 0.5rem;
}
@media (min-width: 401px) and (max-width: 500px){
    .personajes {
        width: 80%;
    }

}
@media (min-width: 501px) and (max-width: 600px){
    .personajes {
        width: 80%;
    }
    body {
        background-image: url(../img/bg-02.jpg);
        background-attachment: fixed;
        background-size: cover;
    }
}